#app{
    --global-radius:48px;
    --paper-foreground:white;
    --accent:#6bdfb3e6;
    --dark:hsla(210, 29%, 24%, 0.8);
    --invertable-text:hsla(210, 29%, 24%, 0.8);
    --invertable-text-negative:hsla(0, 0%, 100%,0.85);
}
@mixin Card{
    background:var(--paper-foreground);
    border-radius:var(--global-radius);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.08), 0 15px 12px rgba(0, 0, 0, 0.12);
}
@mixin ContentCard{
    @include Card;
    width:100%;
    margin-bottom:32px;
}

