@mixin Card{
    // background:var(--paper-foreground);
    border-radius:var(--global-radius);
    // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.08), 0 15px 12px rgba(0, 0, 0, 0.12);
}
@mixin ContentCard{
    @include Card;
    // box-shadow: 0 8px 19px rgba(0, 0, 0, 0.08), 0 7px 6px rgba(0, 0, 0, 0.12);
    background:var(--paper-foreground2);
    width:100%;
    // margin-bottom:32px;
    height:80%;
}

@mixin initializer{
    animation: initializerKeyframe 1s cubic-bezier(.25,.8,.25,1) forwards;
}

@keyframes initializerKeyframe{
    0%{
        transform:scale(.95);
    }
    100%{
        transform:scale(1);
    }
}